<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comentarios</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <DIV class="TITULO">
        <H1>CADASTRE UM COMENTARIO 😁</H1>
    </DIV>

    <form form="formulario_cadastro" action="/post/cadastrar_mensagem" method="post" for="nome"> <label>usuario
        </label>
        <input type="campo nome " name="usuario">

        <label for="comentarios"> comentario
        </label>
        <input type="campo comentarios " name="comentario">
        <button type="submit">enviar</button>

            <div class "mensagens">
                {%for mensagem in mensagens}
                <strong>{{mensagem.usuario}} ({{mensagem.data_hora}})</strong>
                <p>{{mensagem.mensagem}}</p>
            </div>
           {% endfor %}
    </form>
    


    
</body>

</html>