<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>comentarios</title>

    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>

<body>
    <DIV class="TITULO">
        <H1>CADASTRE UM COMENTARIO 😁</H1>
        <h2>Matser pagina</h2>
        <h3>Seja bem-vindo {{session["nome_usuario"]}}</h3>
    </DIV>

    <form form="formulario_cadastro" action="/post/cadastrar_mensagem" method="post" for="nome"> <label>usuario
        </label>
        <input type="campo nome " name="usuario">

        <label for="comentarios"> comentario
        </label>
        <input type="campo comentarios " name="comentario">
        <button type="submit">enviar</button>
        <button type="like">like👍</button>
        <button type="like">deslike👎</button>
        <button type="exluir">excluir</button>
        <button type="logoff">logoff</button>





    </form>
    <table>
        <thead>
            <div class ="mensagens"></div>


        </thead>

        <tbody>
            {% for mensagem in mensagens %}

            <tr>
                <td>usuario</td>
            </tr>
            <tr>
                <td>comentario</td>

            </tr>
            <tr>
                <td>data</td>

            </tr>
            <tr>
                <td>ações</td>
            </tr>
            {% endfor %}
        </tbody>
    </table>


</body>

</html>