<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/login.css">
    <title>login</title>
</head>

<body>
    <form class="login">
        <h1>login</h1>
        <label for="campo_usuario">usuario</label>
        <input type="campo_usuario">


        <label for="campo_senha">senha</label>
        <input type="senha">


        <button> entrar</button>
        <button> cadastrar</button>






    </form>

</body>

</html>