<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/styles_cadastro.css">
    <title>tela-usuario</title>
</head>

<body>
    <form class="cadastro_usuario">
        <h1> Cadatro usuario</h1>

        <Label> usuario</Label>
        <input type="campo_usuario+">


        <label for="senha">senha</label>
        <input type="campo_senha">
        <button>cadastrar</button>
        <button>excluir </button>


    </form>
</body>

</html>